[Unit]
Description=Autotiler for i3

[Service]
Type=simple
ExecStart=/usr/bin/i3-autotiler
Restart=on-failure
StandardOutput=file:%h/i3-autotiler.log

[Install]
WantedBy=default.target
